@using FuelEconomy.Components
@using FuelEconomy.Model
@using FuelEconomy.Services
@using System.Globalization
@page "/vehicle/{VehicleId:guid}"

@if (_vehicle == null)
{
    return;
}
else
{
    <RadzenRow>
        <h3>@_vehicle.Name</h3>
    </RadzenRow>
    <RadzenRow class="rz-mb-4">
        <RadzenColumn SizeXL="2" SizeSM="4" Size="6">
            <VehicleDetailCard Title="Best Economy" Value=@(_vehicleStatisticsModel?.BestEconomy.ToString("0.0")) />
        </RadzenColumn>
        <RadzenColumn SizeXL="2" SizeSM="4" Size="6">
            <VehicleDetailCard Title="Median Economy" Value=@(_vehicleStatisticsModel?.MedianEconomy.ToString("0.0")) />
        </RadzenColumn>
        <RadzenColumn SizeXL="2" SizeSM="4" Size="6">
            <VehicleDetailCard Title="Worst Economy" Value=@(_vehicleStatisticsModel?.WorstEconomy.ToString("0.0")) />
        </RadzenColumn>
        <RadzenColumn SizeXL="2" SizeSM="4" Size="6">
            <VehicleDetailCard Title="Cost/100 Miles" Value=@(_vehicleStatisticsModel?.CostPer100Miles.ToString("C")) />
        </RadzenColumn>
        <RadzenColumn SizeXL="2" SizeSM="4" Size="6">
            <VehicleDetailCard Title="Average Yearly Miles" Value=@(_vehicleStatisticsModel?.AverageYearlyMiles.ToString("N0")) />
        </RadzenColumn>
        <RadzenColumn SizeXL="2" SizeSM="4" Size="6">
            <VehicleDetailCard Title="Average Yearly Cost" Value=@(_vehicleStatisticsModel?.AverageYearlyCost.ToString("C")) />
        </RadzenColumn>
    </RadzenRow>
    <RadzenRow>
        <EntriesGrid Vehicle=_vehicle />
    </RadzenRow>
}

@code {
    [Parameter]
    public Guid VehicleId { get; set; }

    [Inject]
    public VehicleService VehicleService { get; set; } = null!;

    [Inject]
    public EntriesService EntriesService { get; set; } = null!;

    [Inject]
    public VehicleStatisticsService VehicleStatisticsService { get; set; } = null!;

    private Vehicle? _vehicle { get; set; }
    private VehicleStatisticsModel? _vehicleStatisticsModel { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        _vehicle = VehicleService.Get(VehicleId);
        _vehicleStatisticsModel = VehicleStatisticsService.Get(VehicleId);
    }

    private record MonthGroup(string Month, decimal? AverageEconomy);
}
